{
  "openapi": "3.1.0",
  "info": {
    "title": "Embark API (Shared)",
    "description": "The API entrypoint for all shared endpoints.",
    "license": {
      "name": "Property of Embark Studios"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-gateway.europe.es-dis.net/v1/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/shared/profile": {
      "get": {
        "description": "Returns the current profile connected to the system. Useful to check if the token work (and get the embark ID).",
        "parameters": {
          "x-embark-telemetry-client-platform": {
            "name": "x-embark-telemetry-client-platform",
            "in": "header",
            "description": "The platform of the client (eg: Steam, Xbox or PlayStation). This information is used for telemetry and to know which third party service the user is using.",
            "required": true,
            "schema": {
              "type": "string",
              "value": "3"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "description": "Identification number of the profile",
                      "type": "integer",
                      "format": "int64"
                    },
                    "countryCode": {
                      "description": "The country code of the profile (ex: FR, EN, US...)",
                      "type": "string"
                    },
                    "createdAt": {
                      "description": "The date and time when the profile was created",
                      "type": "integer",
                      "format": "int64"
                    },
                    "dateOfBirth": {
                      "description": "The date of birth entered by the user",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "The display name of the profile",
                      "type": "object",
                      "properties": {
                        "discriminator": {
                          "description": "The discriminator to know which type of display name is used, generated by the backend.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name entered by the user.",
                          "type": "string"
                        }
                      }
                    },
                    "displayNameCooldownEndsAt": {
                      "description": "The date when the display name cooldown ends. It mean that the user can change his display name again after this date.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "email": {
                      "description": "The email address of the profile",
                      "type": "string"
                    },
                    "emailVerified": {
                      "description": "Whether the email address of the profile is verified or not",
                      "type": "boolean"
                    },
                    "emailVerifiedAt": {
                      "description": "The date and time when the email address of the profile was verified",
                      "type": "integer",
                      "format": "int64"
                    },
                    "isSpender": {
                      "description": "Whether the profile spent money or not",
                      "type": "boolean"
                    },
                    "tenancyUserId": {
                      "description": "The tenancy user ID of the profile",
                      "type": "string"
                    },
                    "thirdPartyLastSeenAccountName": {
                      "description": "The last seen account name of the profile on third party services (eg: Steam, Xbox or PlayStation).",
                      "type": "string"
                    },
                    "thirdPartyUserId": {
                      "description": "The third party user ID of the profile (eg: Steam, Xbox or PlayStation).",
                      "type": "string"
                    },
                    "tos_version_seen": {
                      "description": "The latest version of the terms of service seen by the user. The backend can use this information to know if the user need to see the new version of the terms of service or not.",
                      "type": "string"
                    },
                    "voiceChatModerationConsent": {
                      "description": "Whether the profile has given consent for voice chat moderation or not (not used any more)",
                      "type": "boolean",
                      "deprecated": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A Bad manifest id was provided.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "MANIFEST_IS_FORBIDDEN"
                }
              }
            }
          },
          "405": {
            "description": "the ",
            "content": {}
          }
        }
      }
    }
  }
}