{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/shared/profile": {
      "get": {
        "description": "Returns the current profile connected to the system. Useful to check if the token work (and get the embark ID).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Profile response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "description": "Identification number of the profile",
                      "type": "integer",
                      "format": "int64"
                    },
                    "countryCode": {
                      "description": "The country of the profile",
                      "type": "integer",
                      "format": "int64"
                    },
                    "createdAt": {
                      "description": "The date and time when the profile was created",
                      "type": "integer",
                      "format": "int64"
                    },
                    "dateOfBirth": {
                      "description": "The date of birth entered by the user",
                      "type": "string"
                    },
                    "displayName": {
                      "description": "The display name of the profile",
                      "type": "object",
                      "properties": {
                        "discriminator": {
                          "description": "The discriminator to know which type of display name is used, generated by the backend.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name entered by the user.",
                          "type": "string"
                        }
                      }
                    },
                    "displayNameCooldownEndsAt": {
                      "description": "The date when the display name cooldown ends. It mean that the user can change his display name again after this date.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "email": {
                      "description": "The email address of the profile",
                      "type": "string"
                    },
                    "emailVerified": {
                      "description": "Whether the email address of the profile is verified or not",
                      "type": "boolean"
                    },
                    "emailVerifiedAt": {
                      "description": "The date and time when the email address of the profile was verified",
                      "type": "integer",
                      "format": "int64"
                    },
                    "isSpender": {
                      "description": "Whether the profile spent money or not",
                      "type": "boolean"
                    },
                    "tenancyUserId": {
                      "description": "The tenancy user ID of the profile",
                      "type": "string"
                    },
                    "thirdPartyLastSeenAccountName": {
                      "description": "The last seen account name of the profile on third party services (eg: Steam, Xbox or PlayStation).",
                      "type": "string"
                    },
                    "thirdPartyUserId": {
                      "description": "The third party user ID of the profile (eg: Steam, Xbox or PlayStation).",
                      "type": "string"
                    },
                    "tos_version_seen": {
                      "description": "The latest version of the terms of service seen by the user. The backend can use this information to know if the user need to see the new version of the terms of service or not.",
                      "type": "string"
                    },
                    "voiceChatModerationConsent": {
                      "description": "Whether the profile has given consent for voice chat moderation or not (not used any more)",
                      "type": "boolean",
                      "deprecated": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "A Bad manifest id was provided.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "MANIFEST_IS_FORBIDDEN"
                }
              }
            }
          },

          "205": {
            "description": "Plant deleted",
            "content": {}
          }
        }
      }
    },
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}